// import Bootstrap sass files
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// CTA 
.cta-nav {
    background: linear-gradient(-45deg, $indigo-700, $blue-300, $cyan-700);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;    padding: 0 30px;
    margin-left: 15px;
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
    text-align: center;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @media only screen and (max-width: 992px) {
        margin-left: 0 !important;
        margin-top: 10px;
    }

    a {
        color: $light !important;
    }

    // hover effect
    &:hover {
        background-color: darken($indigo-500, 10);
    }
}

// main cta
.cta {
    border: none;
    padding: 8px 30px;
    text-transform: uppercase;
    color: $light;
    display: flex;
    font-size: 1.2rem;
    transition: all .4s ease-in-out;
    background: linear-gradient(-45deg, $indigo-700, $blue-300, $cyan-700);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

    &:hover > i {
        transform: translateX(10px);
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow:
  0 0px 6.1px rgba(0, 110, 255, 0.932),
  0 0px 20.3px rgba(0, 110, 255, 0.119),
  0 0px 91px rgba(0, 110, 255, 0.2)
;

    }

    i {
        transition: all .4s ease-in-out;
        margin-left: 14px !important;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

}

// blur navbar bg
.blur {
    background-color: rgba(34, 34, 34, 0.75) !important;
    backdrop-filter: blur(1rem);
    // brand 
    .navbar-brand {
        color: $light !important;
    }
    .navbar-nav {
        a {
            color: $light !important;
        }
    }
    // Editing the default bs toggler
.custom-toggler {
    background-image: url('../assets/menulight.svg') !important;
    border-color: $light !important;
}
}

// toggler

// Editing the default bs toggler
.custom-toggler {
    background-image: url('../assets/menudark.svg') !important;
    border-color: $light !important;
}

.navbar-toggler-icon {
    border-color: transparent !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: transparent !important;
}

.navbar-toggler {
    padding: 0.15rem 0.55rem !important;
}