// import Bootstrap sass files
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// CTA 
.cta-nav {
    background: linear-gradient(-45deg, $indigo-500, $blue-500, $cyan-500);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;    padding: 0 30px;
    margin-left: 15px;
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
    text-align: center;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @media only screen and (max-width: 992px) {
        margin-left: 0 !important;
        margin-top: 10px;
    }

    a {
        color: $light !important;
    }

    // hover effect
    &:hover {
        background-color: darken($indigo-500, 10);
    }
}

// main cta
.cta {
    border: none;
    padding: 8px 30px;
    text-transform: uppercase;
    color: $light;
    display: flex;
    font-size: 1.2rem;
    transition: all .4s ease-in-out;
    background: linear-gradient(-45deg, $indigo-500, $blue-500, $cyan-500);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

    &:hover > i {
        transform: translateX(10px);
    }

    &:hover {
        background-color: darken($light, 10);
    }

    i {
        transition: all .4s ease-in-out;
        margin-left: 14px !important;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

}

// nav search
.search {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    font-size: large;
    color: $dark;
    text-align: center !important;
    text-decoration: none;


    @media only screen and(min-width: 992px) {
        display: none !important;
    }

    .ri-search-line {
        text-align: center !important;
        transition: all .4s ease-in-out;
        align-self: flex-start !important;
    }
}

// blur navbar bg
.blur {
    background-color: rgba(34, 34, 34, 0.75) !important;
    backdrop-filter: blur(1rem);
    // brand 
    .navbar-brand {
        color: $light !important;
    }
    .navbar-nav {
        a {
            color: $light !important;
        }
    }
    .search {
        color: $light !important;
    }
    // Editing the default bs toggler
.custom-toggler {
    background-image: url('../assets/menulight.svg') !important;
    border-color: $light !important;
}
}

// toggler

// Editing the default bs toggler
.custom-toggler {
    background-image: url('../assets/menudark.svg') !important;
    border-color: $light !important;
}

.navbar-toggler {
    border-color: transparent !important;
}