// fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Quicksand:wght@500&display=swap');

$mainFont: 'Playfair Display', serif;
$font: 'Quicksand', sans-serif;

// colors
$dark: #1a1a2e !important;