@import url("https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@600&display=swap");
.cta-nav {
  padding: 0 30px;
  margin-left: 20px;
  background-color: #560dcb;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.cta-nav a {
  color: #f8f9fa !important;
  text-align: center;
}

.cta-nav:hover::after {
  height: 100%;
  border-radius: 0;
}

.cta-nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 0 0 70px 70px;
  background-color: #35087e;
  z-index: -1;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 992px) {
  .cta-nav {
    margin-left: 0 !important;
    margin-top: 10px;
  }
}

.cta {
  padding: 10px 30px;
  background-color: #560dcb;
  position: relative;
  z-index: 3;
  -webkit-transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  text-align: center;
  color: #f8f9fa;
  text-decoration: none;
  cursor: pointer;
}

.cta:hover {
  background-color: #2d076b;
  color: #f8f9fa;
}

*, body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.navigation {
  background-color: #343a40;
}

.navigation .navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navbar .navbar-brand img {
  width: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation .navbar .nav-link {
  cursor: pointer;
  color: rgba(236, 236, 236, 0.99);
}

.navigation .navbar .nav-link::hover {
  color: #ececec;
}

.blur {
  -webkit-backdrop-filter: blur(0.8rem) !important;
          backdrop-filter: blur(0.8rem) !important;
  background-color: rgba(17, 17, 17, 0.55) !important;
  -webkit-box-shadow: 0 0px 1.7px rgba(0, 0, 0, 0.024), 0 0px 4.8px rgba(0, 0, 0, 0.035), 0 0px 11.5px rgba(0, 0, 0, 0.046), 0 0px 38px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0px 1.7px rgba(0, 0, 0, 0.024), 0 0px 4.8px rgba(0, 0, 0, 0.035), 0 0px 11.5px rgba(0, 0, 0, 0.046), 0 0px 38px rgba(0, 0, 0, 0.07);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}

.blur .navbar-brand img {
  width: 50px !important;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-toggler {
  background-image: url("../assets/menu-4-line.svg") !important;
  border-color: #f8f9fa !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}

@media only screen and (max-width: 992px) {
  .hero-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 4%;
  }
  .hero-content .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 50vh;
    margin-bottom: 25px;
  }
  .hero-content .title .call-to-action {
    margin-top: 10px !important;
  }
}

.hero-content .title .h-title {
  font-size: 4rem;
  font-family: "Anton", sans-serif;
}

.hero-content .title .call-to-action {
  margin-top: 30px;
}

.hero-content .image img {
  max-width: 800px;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */