// import
@import 'vars', 'utilities';
// Custom.scss
// Required for Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

*,body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

// hero
.hero {
    background-color: $dark;
    // navigation
.navigation {
    .navbar {
        // brand
        .navbar-brand {
            display: flex;

            // brand image
            img {
                width: 60px;
                align-self: center;
            }
        }

        // navbar links
        .nav-link {
            cursor: pointer;
            color: rgba(236, 236, 236, 0.99); 
            &::hover {
                color: rgba(236, 236, 236, 1); 
            }
        }

        
    }

}

// hero content
.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    color: $light;


    @media only screen and (max-width: 992px) {
        flex-direction: column !important;
        background-image: url('../assets/hero1.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;

        // overlay
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparentize(#000000, 0.7);
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .hero-title {
            .hero-h {
                font-size: 2.3rem !important;
            }
        }

        .hero-image {
            display: none;
        }
     }
 

    .hero-title {
        // tag
        .tag {
            span {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 40%;
                    background-color: $blue-500;
                    z-index: -1;
                }
            }
        }
        // title
        .hero-h {
            font-family: $mainFont;
            font-size: 3rem;
            span {
                font-family: $mainFont;
            }
        }
    }

    // hero image 
    .hero-image {
        position: relative;
        img {
            max-width: 900px;
            width: 100%;
        }

        // review
        .review {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $light;
            color: $dark;
            padding: 10px;
            
            p {
                font-family: $mainFont;
                text-align: center;
                margin-bottom: 0;
                font-size: 1.2rem;
            }
        }
    }
}

}

// add blur to navbar background on scroll
.blur {
    backdrop-filter: blur(.8rem) !important;
    background-color: rgba(26, 26, 46, 0.75) !important;
    box-shadow:
        0 0px 1.7px rgba(0, 0, 0, 0.024),
        0 0px 4.8px rgba(0, 0, 0, 0.035),
        0 0px 11.5px rgba(0, 0, 0, 0.046),
        0 0px 38px rgba(0, 0, 0, 0.07);
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
}
// Editing the default bs toggler
.custom-toggler {
    background-image: url('../assets/menu-4-line.svg') !important;
    border-color: $light !important;
}

.navbar-toggler {
    border-color: transparent !important;
}