// import
@import 'vars', 'utilities';
// Custom.scss
// Required for Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

*,body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

// navigation
.navigation {
    background-color: $dark;
    .navbar {

        // brand
        .navbar-brand {
            display: flex;

            // brand image
            img {
                width: 60px;
                align-self: center;
            }
        }

        // navbar links
        .nav-link {
            cursor: pointer;
            color: rgba(236, 236, 236, 0.99); 
            &::hover {
                color: rgba(236, 236, 236, 1); 
            }
        }

        
    }

}

// add blur to navbar background on scroll
.blur {
    backdrop-filter: blur(.8rem) !important;
    background-color: rgba(17, 17, 17, 0.55) !important;
    box-shadow:
        0 0px 1.7px rgba(0, 0, 0, 0.024),
        0 0px 4.8px rgba(0, 0, 0, 0.035),
        0 0px 11.5px rgba(0, 0, 0, 0.046),
        0 0px 38px rgba(0, 0, 0, 0.07);
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
}
// Editing the default bs toggler
.custom-toggler {
    background-image: url('../assets/menu-4-line.svg') !important;
    border-color: $light !important;
}

.navbar-toggler {
    border-color: transparent !important;
}

// hero content
.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90vh;

    // on small screens
    @media only screen and (max-width: 992px) {
        flex-wrap: wrap;
        padding: 4%;
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            min-height: 50vh;
            margin-bottom: 25px;
            // 
            .h-title {
                font-size: 2rem !important;
            }
            .call-to-action {
                margin-top: 10px !important;
            }
        }
    }

    // title goes here
    .title {
        .h-title {
            font-size: 4rem;
            font-family: $mainFont;
        }

        // call to action btn
        .call-to-action {
            margin-top: 30px;
        }
    }

    // hero image
    .image {
        img {
            max-width: 800px;
            width: 100%;
        }
    }
}