@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Quicksand:wght@500&display=swap");
.cta-nav {
  padding: 0 30px;
  margin-left: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#6610f2), to(#0d6efd));
  background: linear-gradient(to right, #6610f2, #0d6efd);
  position: relative;
  z-index: 1;
  -webkit-transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.cta-nav a {
  color: #f8f9fa !important;
  text-align: center;
}

.cta-nav:hover::after {
  height: 100%;
  border-radius: 0;
}

.cta-nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 0 0 70px 70px;
  background-color: #094bac;
  z-index: -1;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 992px) {
  .cta-nav {
    margin-left: 0 !important;
    margin-top: 10px;
  }
}

.cta {
  padding: 8px 40px;
  background: -webkit-gradient(linear, left top, right top, from(#6610f2), to(#0d6efd));
  background: linear-gradient(to right, #6610f2, #0d6efd);
  position: relative;
  z-index: 3;
  -webkit-transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  text-align: center;
  color: #f8f9fa;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
  margin-top: 20px;
  -webkit-box-shadow: 0 0px 40px -2px #506aff;
          box-shadow: 0 0px 40px -2px #506aff;
}

@media only screen and (max-width: 992px) {
  .cta {
    font-size: 1.2rem !important;
  }
}

.cta:hover {
  -webkit-transform: translateY(-8px) scale(1.07);
          transform: translateY(-8px) scale(1.07);
  color: #f8f9fa;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.hero {
  background-color: #1a1a2e !important;
}

.hero .navigation .navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .navigation .navbar .navbar-brand img {
  width: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .navigation .navbar .nav-link {
  cursor: pointer;
  color: rgba(236, 236, 236, 0.99);
}

.hero .navigation .navbar .nav-link::hover {
  color: #ececec;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  color: #f8f9fa;
}

@media only screen and (max-width: 992px) {
  .hero .hero-content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    background-image: url("../assets/hero1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  .hero .hero-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(26, 26, 46, 0.2);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .hero .hero-content .hero-title .hero-h {
    font-size: 2.3rem !important;
  }
  .hero .hero-content .hero-image {
    display: none;
  }
}

.hero .hero-content .hero-title .tag span {
  position: relative;
}

.hero .hero-content .hero-title .tag span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #0d6efd;
  z-index: -1;
}

.hero .hero-content .hero-title .hero-h {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.hero .hero-content .hero-title .hero-h span {
  font-family: "Playfair Display", serif;
}

.hero .hero-content .hero-image {
  position: relative;
}

.hero .hero-content .hero-image img {
  max-width: 900px;
  width: 100%;
}

.hero .hero-content .hero-image .review {
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #f8f9fa;
  color: #1a1a2e !important;
  padding: 10px;
}

.hero .hero-content .hero-image .review p {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.blur {
  -webkit-backdrop-filter: blur(0.8rem) !important;
          backdrop-filter: blur(0.8rem) !important;
  background-color: rgba(26, 26, 46, 0.75) !important;
  -webkit-box-shadow: 0 0px 1.7px rgba(0, 0, 0, 0.024), 0 0px 4.8px rgba(0, 0, 0, 0.035), 0 0px 11.5px rgba(0, 0, 0, 0.046), 0 0px 38px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0px 1.7px rgba(0, 0, 0, 0.024), 0 0px 4.8px rgba(0, 0, 0, 0.035), 0 0px 11.5px rgba(0, 0, 0, 0.046), 0 0px 38px rgba(0, 0, 0, 0.07);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}

.custom-toggler {
  background-image: url("../assets/menu-4-line.svg") !important;
  border-color: #f8f9fa !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

.services-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  text-align: center;
  color: #f8f9fa;
  background-color: #1a1a2e !important;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .services-title::before {
    display: none;
  }
  .services-title .s-title {
    padding: 0 !important;
  }
}

.services-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: rgba(248, 249, 250, 0.2);
}

.services-title .s-title {
  padding: 0 20%;
}

.services-title .s-title h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f8f9fa;
  background-color: #1a1a2e !important;
}

@media only screen and (max-width: 992px) {
  .services {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .services .service {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    width: 100% !important;
    min-height: 200px !important;
  }
}

.services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
  width: 300px;
  padding: 20px;
}

.services .service img {
  width: 60px;
  margin-bottom: 20px;
}

.services .service h2 {
  font-family: "Playfair Display", serif;
}

.services .service p {
  font-size: 1.2rem;
  font-weight: 550;
}
/*# sourceMappingURL=index.css.map */